body{
    /* margin: 0; */
    /* padding: 0; */
    font-family: 'M PLUS Code Latin', sans-serif;
    font-weight: 400;
}

.cartao{
    width: 400px;
    height: 200px;
    background-image: url("./Imagens/backgorund.png");
    background-size: cover;
    border: 1px solid black;
}

p{
    margin: 15px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a.visited{
    color:black;
}

#inst{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 3px;
    list-style-image: url("./Imagens/Insta.png");
}

#twit{
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 3px;
    list-style-image: url("./Imagens/Twitter.png");
}

#yout{
    margin-top: 0px;
    margin-left: 15px;
    list-style-image: url("./Imagens/Youtube.png");
}


